{{#with data}}
<div class="minivenue">
	{{#first categories}}<img class="icon" src="{{icon.prefix}}44{{icon.suffix}}">{{/first}}
	<span class="name">{{name}}</span>
	{{#with location}}{{#if city}}
	<span class="address">
		{{#if address}}{{address}}, {{/if}}{{city}}, {{#if state}}{{state}}, {{/if}}{{cc}} {{postalCode}}&nbsp;
	</span>
	{{/if}}{{/with}}
</div>
{{/with}}
<div class="swipe-menu">
	<ul class="menu-horizontal unstyled inline">
		<li><button><i class="icon-heart"></i></button></li>
		<li><button><i class="icon-list"></i></button></li>
		<li><button><i class="icon-share"></i></button></li>
	</ul>
</div>