<li class="business">
	<a href="{{url}}"><h4 class="name">{{name}}</h4></a>
	{{#with location}}
	<div class="address">{{address}}<br/>{{city}}, {{cc}} {{postalCode}}</div>
	{{/with}}
	<div class="phone"><a href="tel:{{contact.phone}}">{{contact.formattedPhone}}</a></div>
	<em> {{#each categories}}<img src="{{icon}}"> {{shortName}}{{/each}} </em>
</li>