<li class="business">
	<h3 class="name">
		<span class="icons">
			{{#each categories}}<img src="{{icon}}" alt="{{name}}" title="{{name}}">{{/each}}
		</span>
		{{#if url}}<a href="{{url}}">{{name}}</a>
		{{else}}{{name}}{{/if}}
	</h3>
	{{#with location}}{{#if city}}
	<div class="address line1">{{address}}</div><div class="address line2">{{city}}, {{#if state}}{{state}}, {{/if}}{{cc}} {{postalCode}}</div>
	{{/if}}{{/with}}
	<div class="phone"><a href="tel:{{contact.phone}}">{{contact.formattedPhone}}</a></div>
</li>